*{
    text-transform: capitalize;
    font-family : 'Lucida Handwriting';
}


.index{
    background-image: url(minimalW.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.navbar {
background-color: #E5D283;
border-radius: 15px 40px;
border: 3px outset black;
}

 
.navbar ul{ 
    overflow: auto;
    
}
.navbar li{
     float: left;
    list-style-type: none;
    margin: 10px 10px;
}
.navbar li a{
   
    text-decoration: none;
    color: black;
    font-weight: 800;
   font-family: 'Lucida Sans';
   transition: width 1s height 2s;
        
    }
    .navbar a:hover {
        background-color: white;
            color: black;
            width : 30px ;
            height:30px;
        }


    h1 {
        text-align :center;
        margin : 50px 50px ;
        font-family : 'Lucida Handwriting';
        word-spacing: 8px;
        line-height: 2;
        color: #025464;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    #animation{
        text-align : left;
        font-family : 'Lucida Handwriting';
        word-spacing: 8px;
        font-size:25px ;
        line-height: 2;
        color: #434242;

    }
    #para {
        margin:10px;
        font-size: 18px;
        font-weight: 500;
        font-family : 'Lucida Handwriting';
        text-decoration: double;
        word-spacing: 8px;
        line-height: 1.5;
        text-align: left;
        

    }
    #intro{
        font-size: 20px;
        font-weight:700;
        font-family : 'Lucida Handwriting';
        word-spacing: 8px;
        line-height: 1.5;
        text-align: left;

    }
    #thoughts {

        font-size: 18px;
        font-weight: 600;
        font-family : 'Lucida Handwriting';
        text-decoration: double;
        word-spacing: 8px;
        line-height: 1.5;
        text-align: left;
        
    }
    #about{
        background-image: url(bulbW.png);
        background-repeat:no-repeat;
       background-attachment: fixed;
       background-size:cover;
       text-transform: capitalize;
       color: white;
       text-align: left;

}
#home a{
    font-weight: 200;
    font-size: 25px;
    text-decoration: none;
}
#sev{
    background-image: url(planeW.jpg);
}
#feed{
    background-image: url(glassballW.jpg);
}
#contact{
    background-image: url(orangeW.jpg);
}
  
#connect{
    font-size: xx-large;
    
    list-style-type: none;
}
#connect li{
    text-decoration: none;
}

.target li{
    list-style-type: none;
}

.target li a{

    text-decoration: none;
    color: #262A56;
    font-weight: 700;
    text-align : left;
        word-spacing: 5px;
        line-height:1;
        font-size:25px ;
}
.disco{
  background-color: #1F4172;   
}


#home {
    position: absolute;
    bottom: 0;
    text-align: left; /* Adjust text alignment as needed */
    width: 100%; /* Make the element span the full width of the page */ 
    color: #fff; /* Optional text color for the footer */
    padding: 10px;
}
#home a:hover {
    color: gold;
}
#home a:active {
    color: lightcoral;
}
#dot{
    height: 80px;
}

.dot { position: relative;
    width: 50px;
  height: 50px;
  background: white;
  transition-timing-function: ease-in-out ;
  border-radius: 50%;
  transition-duration: 5s;
  transition-delay: 2s;
  animation-name: first;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-delay: -1s;
  animation-direction: alternate;

}
@keyframes first {
    0%   {background-color: red; left: 0px ;  top:600px ; }
  25%  {background-color: yellow; left:500px; top: 200px ;}
  50%  {background-color: lightcoral; left: 400px; top:0px ;}
  10% {background-color: greenyellow; left:0px; top:50px ;}
  100% {background-color: goldenrod; left:30px; top:250px ;}
}
.dot:hover{
    width: 100px;
    height: 100px;
    background: yellow;
    transform: rotate(180deg);
}